extends layout

block content
  h1= title
  h2= subtitle

  ul
    li: a(href="indiv", title="Individual Registration records") Individual Registration records
    li: a(href="trichiasis", title="Trichiasis records") Trichiasis records
    li: a(href="annualReport", title="Annual Report") Annual Report

